{% extends 'base.html.twig' %}

{% block title %}Petseek | Politique de confidentialité{% endblock %}

{% block body %}

<div class="parallax">
    <h1>Politique de confidentialité</h1>
</div>

<div class="para-text">

    <p>
        Dernière mise à jour : 28/08/2023<br>

        Bienvenue sur Pet'seek (le "Site"), exploité par [Nom de l'entreprise] ("nous", "notre", "nos"). La protection de vos informations personnelles est une priorité pour nous. Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons vos données personnelles lorsque vous utilisez notre Site. En utilisant le Site, vous acceptez les pratiques de collecte et d'utilisation de données décrites dans cette politique.
    </p>

    <h2>1. Informations que nous collectons</h2>
    <h3>1.1. Informations que vous nous fournissez</h3>

    <p>
        Lorsque vous utilisez notre Site, nous pouvons collecter les types d'informations personnelles suivants :<br>

        Adresse e-mail : Nous collectons votre adresse e-mail pour vous permettre de créer un compte, de vous connecter et de recevoir des notifications liées à votre compte et à vos annonces.<br>

        Pseudonyme : Nous collectons un pseudonyme que vous choisissez pour votre compte utilisateur. Il sera affiché publiquement sur le Site dans le cadre de vos annonces et de votre profil.<br>

        Date de naissance : Nous collectons votre date de naissance pour vérifier votre âge et vous fournir une expérience adaptée à votre groupe d'âge.<br>

        Localisation géographique : Nous collectons des informations de localisation pour vous aider à afficher des annonces pertinentes dans votre région. Vous pouvez choisir de partager ou de masquer votre localisation.<br>

        Informations relatives aux animaux de compagnie : Si vous choisissez de publier des annonces liées aux animaux de compagnie, nous collecterons des informations telles que le type d'animal, l'âge, le sexe, la race, etc.
    </p>

    <h3>1.2. Informations collectées automatiquement</h3>

    <p>
        Nous pouvons également collecter certaines informations automatiquement lorsque vous utilisez le Site, notamment des informations sur votre appareil, votre navigateur, votre adresse IP et votre comportement de navigation.
    </p>

    <h2>2. Utilisation des informations</h2>

    <p>
        Nous utilisons les informations collectées pour les finalités suivantes :<br>

        Pour vous permettre d'utiliser les fonctionnalités du Site, y compris la publication et la gestion d'annonces.<br>

        Pour personnaliser votre expérience en affichant des annonces et des contenus pertinents en fonction de vos préférences et de votre localisation.<br>

        Pour communiquer avec vous, notamment pour vous envoyer des notifications, des mises à jour et des informations importantes liées à votre compte.<br>

        Pour améliorer notre Site, nos services et notre offre en fonction de vos commentaires et de vos besoins.<br>

        Pour se conformer aux obligations légales et réglementaires.
    </p>

    <h2>3. Partage des informations</h2>

    <p>
        Nous ne vendons pas, ne louons pas et ne partageons pas vos informations personnelles avec des tiers à des fins de marketing. Cependant, nous pouvons partager vos informations personnelles dans les situations suivantes :<br>

        Avec d'autres utilisateurs du Site dans le cadre de vos annonces.<br>

        Avec nos prestataires de services tiers qui nous aident à gérer le Site et à fournir nos services.<br>

        Lorsque cela est exigé par la loi ou lorsque nous croyons de bonne foi que cela est nécessaire pour protéger nos droits, votre sécurité ou la sécurité d'autrui.
    </p>

    <h2>4. Sécurité des données</h2>
    <p>
        Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre la perte, l'accès non autorisé, la divulgation, la modification ou la destruction. Cependant, aucun système de sécurité n'est totalement infaillible, et nous ne pouvons garantir la sécurité de vos données.
    </p>

    <h2>5. Vos choix</h2>
    <p>
        Vous pouvez accéder, mettre à jour ou supprimer vos informations personnelles en accédant à votre compte sur le Site. Vous pouvez également choisir de ne pas recevoir de notifications marketing de notre part en modifiant vos préférences de notification.
    </p>

    <h2>6. Mineurs</h2>
    <p>
        Notre Site n'est pas destiné aux enfants de moins de 16 ans. Si vous avez moins de 16 ans, veuillez ne pas utiliser notre Site ni nous fournir vos informations personnelles.
    </p>

    <h2>7. Modifications de la politique de confidentialité</h2>
    <p>
        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toutes les modifications seront affichées sur cette page avec la date de la dernière mise à jour. Nous vous encourageons à consulter régulièrement cette politique pour rester informé de nos pratiques en matière de confidentialité.
    </p>

    <h2>8. Nous contacter</h2>
    <p>
        Si vous avez des questions, des préoccupations ou des commentaires concernant cette politique de confidentialité ou nos pratiques de collecte de données, veuillez nous contacter à l'adresse suivante : [Adresse e-mail de contact].
    </p>

    <p>
        N'oubliez pas d'adapter cette politique de confidentialité en fonction des lois locales applicables et de consulter un avocat pour vous assurer de sa conformité.
    </p>
</div>

<div class="parallax"></div>
{% endblock body %}