{% extends 'base.html.twig' %}

{% block title %}PetSeek | Liste des membres{% endblock %}

{% block body %}

<div class="parallax">
    <h1>Liste des utilisateurs</h1>
</div>

<div class="para-text">
    <p>Pour voir le profil des membres et interagir avec eux, cliquez sur leur pseudo.</p>
    
    <ul class="members">
        {% for user in users %}
            <li>
                <a href="">{{ user }}</a><br>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if user.banni == 0 %}
                        <button class="ban-btn">
                            <a href="{{ path('ban_user', {'id': user.id }) }}">Bannir l'utilisateur</a>
                        </button><br>
                    {% else %} 
                        <button class="unban-btn">
                            <a href="{{ path('unban_user', {'id': user.id }) }}">Débannir</a>
                        </button>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="parallax"></div>

{% endblock %}