{% extends 'base.html.twig' %}

{% block title %}PetSeek | Profil | Mes sujets favoris{% endblock %}

{% block body %}

<h1>Mes sujets favoris</h1>

<ul>
    {% for sujet in app.user.sujetFavorites %}
        <li>
            <a href="{{ path('messages_sujet', {'idSuj': sujet.id }) }}">{{ sujet }}</a>
            {% if sujet in app.user.sujetFavorites %}
                <a href="{{ path('remove_sujfav', {'id': sujet.id }) }}">
                    <i class="fa-solid fa-heart" style="color: #d747cb;"></i>
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}