body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #D0D0D0; */
}

input, textarea, select {
    outline: none;
}

input:focus, textarea:focus, select:focus {
    border: 2px solid #FFAB5E;
}

.flash-content {
    position: relative;
}

#flash-close {
    padding-right: 10px;
    float: right;
}

#flash-close:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.flash-success {
    position: absolute;
    width: 40%;
    top: 150px;
    left: 30%;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #a3e4a3;
}

.flash-notice {
    position: absolute;
    width: 40%;
    top: 150px;
    left: 30%;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #acd9ee;
}

.flash-warning {
    position: absolute;
    width: 40%;
    top: 150px;
    left: 30%;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #eb6363;
}

em, strong {
    font-weight: normal;
    font-style: normal;
}

#header {
    line-height: 60px;
}

.rien {
    text-align: center;
}

.fa-bars {
    display: none;
}

.fa-bars:hover {
    cursor: pointer;
}

.navbar {
    display: block;
    background-color: #000000;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    /* width: 100vw; */
    text-align: center;
    align-items: center;
}

.nav-top {
    position: sticky;
}

.nav-links a, .nav-links div {
    display: block;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-links a:hover, .nav-links div:hover {
    background-color: #FFAB5E;
    color: #000000;
}

.drop-menu {
    display: flex;
    position: relative;
    justify-content: baseline;
}

.profil-links {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    list-style: none;
    line-height: 40px;
}

.profil-links li {
    text-align: center;
}

.profil-links li:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid #ffffff;
}

.drop-menu:hover .profil-links {
    display: block;
}

.profil-links li:hover {
    background-color: #FFAB5E;
}

.profil-links li:hover a {
    color: #000000;
}

.deconnexion {
    background-color: #850000;
    color: #ffffff;
}

main {
    display: flex;
}

main #bloc {
    /* display: flex; */
    width: 100%;
}

.parallax {
    /* The image used */
  background-image: url('https://images7.alphacoders.com/126/1269810.jpg');

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1, .parallax h2 {
    margin: 0;
    background-color: #1f1d1d;
    color: #ffffff;
    width: 100%;
}

.para-text {
    padding: 5%;
    background-color: #1f1d1d;
    color: #ffffff;
    font-size: 1.5rem;
}

.para-text ul li a {
    color: #ffffff;
}

.para-text a:hover {
    color: #FFAB5E;
    text-decoration: underline;
}

.modif-user {
    width: 160px;
    height: auto;
    border-radius: 10px;
    background-color: #FFAB5E;
    margin: 20px 0px;
    padding: 5px;
}

.modif-user a {
    font-size: 1.3rem;
}

.modif-user a:hover {
    text-decoration: none;
    color: #000000;
}

.new-form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 0% 2%;
}

.new-form form {
    display: flex;
    flex-flow: column wrap;
}

.new-form input[type=text], .new-form textarea, .new-form select {
    float: right;
    width: 30%;
}

.new-form button {
    width: 150px;
    height: 30px;
    background-color: #FFAB5E;
    border-radius: 10px;
    align-self: center;
    margin: 20px 0px;
    align-self: center;
}

.app-name {
    color: #ee850d;
}

.members {
    list-style: none;
    columns: 6;
}

.members a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
    padding: 30px 0px;
    text-align: center;
}

h2 {
    padding: 15px 0px;
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    margin: 0;
}

.text-link {
    color: #ee850d;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 4;
    text-align: center;
    flex-flow: row wrap;
}

#categories a {
    text-decoration: none;
    color: #ffffff;
}

.categorie {
    display: flex;
    flex-flow: column wrap;
}

.categorie-pic {
    height: 85px;
    width: 90px;
    filter: invert(96%) sepia(1%) saturate(745%) hue-rotate(149deg) brightness(115%) contrast(100%);
    /* filter: invert(82%) sepia(18%) saturate(2161%) hue-rotate(317deg) brightness(106%) contrast(101%); */
}

#filterIcon {
    display: none;
}

#filterIcon:hover {
    cursor: pointer;
}

.annonces {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.formulaire {
    display: block;
    width: 75%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    color: #000000;
    line-height: 40px;
}

.registerForm {
    padding: 0% 2%;
}

.registerForm form input {
    width: 50%;
    height: 30px;
    float: right;
}

.registerForm form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.registerForm form button {
    width: 150px;
    height: 30px;
    background-color: #FFAB5E;
    border-radius: 10px;
    margin: 20px 0px;
    align-self: center;
    font-size: 1.3rem;
}

#filterForm input[type=text] {
    width: 80%;
    height: 30px;
}

#filterForm h4 {
    color: #000000;
    background-color: #FFAB5E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 40px;
    margin-top: 0;
}

#filterForm form {
    padding: 0% 2%;
}

.form-validate {
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    background-color: #a3e4a3;
    border-radius: 10px;
    font-size: 1.3rem;
}

.modif-profile {
    padding: 2% 2% 0%;
}
.modif-profile form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.modif-profile form input {
    float: right;
    width: 50%;
    height: 30px;
}

.modif-profile form button {
    width: 150px;
    height: 30px;
    background-color: #FFAB5E;
    border-radius: 10px;
    margin: 20px 0px;
    align-self: center;
    font-size: 1.3rem;
}

.search-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}

.search-motif label {
    margin-right: 20px;
}

.search-genre label {
    margin-right: 20px;
}

.formAnnonce {
    display: flex;
    justify-content: center;
}

.genre-choice div {
    display: inline-block;
}

#annonce_pet_genre label {
    margin-right: 20px;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 20px;
    width: 100%;
    height: 60vh;
}

/* .wanted {
    height: 25%;
    width: 35%;
    background-color: #FFAB5E;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.wanted:hover {
    overflow-x: hidden;
    overflow-y: auto;
}

.wanted::-webkit-scrollbar {
    width: 10px;
}

.wanted::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000000;
} */

.fa-caret-right, .fa-caret-left {
    position: absolute;
    font-size: 1.6rem;
}

.fa-caret-right:hover, .fa-caret-left:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
}

.fa-caret-left {
    left: 0;
    top: 45%;
    margin-left: 10px;
}

.fa-caret-right {
    right: 0;
    top: 45%;
    margin-right: 10px;
}

.carte {
    margin: 0;
    height: 50%;
    width: 35%;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.wanted-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 27.5px;
    position: absolute;
    top: 0;
}

.carte img.activeImg {
    opacity: 1;
}

.carte img {
    transition: transform 0.3s;
    opacity: 0;
}

/* .carte:hover {
    overflow: visible;
} */

/* .carte:hover img {
    position: absolute;
    z-index: 100;
    transform: scale(1.75);
} */

.motif-annonce {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 35px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 1.3rem;
}

.dogInfos {
    padding: 0px 10px;
    text-align: center;
    color: #ffffff;
}

.dogID {
    text-align: center;
}

.annoMap {
    left: 10%;
    width: 80%;
    height: 60vh;
}

.moreInfos {
    color: #ffffff;
}

.moreInfos:hover {
    cursor: pointer;
}

.seeDogInfos {
    margin-right: 20px;
    margin-bottom: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.backToImages {
    margin-right: 20px;
    margin-bottom: 2px;
    position: absolute;
    right: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.heart-annonce {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3rem;
}

.fa-heart {
    color: #d747cb;
}

.fa-heart:hover {
    transform: scale(2);
}

.pages {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
}

.page-item {
    width: 30px;
    text-align: center;
}

.page-item:hover {
    background-color: #FFAB5E;
}

.page-item:hover a {
    color: #000000;
}

.page-item a {
    color: #ffffff;
    text-decoration: none;
}

.page-item.active {
    background-color: #FFAB5E;
}

.page-item.active a {
    color: #000000;
}

.page-item.disabled {
    display: none;
}

#gallery-grid {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#gallery-grid img {
    position: absolute;
    opacity: 0;
}

#gallery-grid .currentGalImg {
    opacity: 1;
}

button a {
    text-decoration: none;
    color: #000000;
}

.new-btn {
    display: inline;
    border: 1px solid #000000;
    background-color: #FFAB5E;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.info-btn {
    border: 1px solid #000000;
    background-color: #D0D0D0;
    padding: 5px;
    transform: translateY(-5px);
    border-radius: 10px;
    font-size: 1.3rem;
}

.delete-btn, .ban-btn {
    border: 1px solid #000000;
    background-color: #850000;
    padding: 5px;
    transform: translateX(5%);
    margin-right: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.delete-btn a, .ban-btn a, .unban-btn a {
    color: #ffffff;
}

.unban-btn {
    border: 1px solid #000000;
    background-color: #006700;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.msg-form {
    width: 100%;
    height: 100px;
}

.modal-btn {
    border: none;
    background-color: #D0D0D0;
    text-decoration: underline;
    color: rgb(0, 38, 255);
}

.modal-btn:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    left: 0;
    top: 0;
    overflow: auto;
}

.modal-content {
    padding: auto;
    display: block;
    width: 100%;
    max-width: 100vw;
}

.close-cross {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-align: center;
    right: 50px;
    position: absolute;
}

.close-cross:hover {
    cursor: pointer;
}

.msg-image {
    max-width: 100%;
}

#map {
    display: flex;
    align-self: center;
    width: 100%;
    height: 450px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
}

footer a:hover {
    color: #FFAB5E;
    text-decoration: underline;
}

footer a {
    color: #D0D0D0;
    text-decoration: none;
}

.footer {
    width: 50%;
    border-right: 2px solid #FFAB5E;
}

.socials {
    width: 50%;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login {
    display: inline-block;
    line-height: 40px;
}

.login label {
    margin-right: 20px;
}

.login input {
    line-height: 30px;
}

.btn-lg {
    width: 150px;
    height: 30px;
    background-color: #FFAB5E;
    font-size: 1.3rem;
    border-radius: 10px;
    text-align: center;
}

@media(max-width: 2100px) {
    .carte {
        width: 25%;
        height: 50%;
    }
}

@media(max-width: 1500px) {
    .carte {
        width: 30%;
        height: 50%;
    }
}

@media(max-width: 1250px) {
    .carte {
        width: 35%;
        height: 50%;
    }
}

@media(max-width: 980px) {
    main {
        flex-flow: column wrap;
    }
    a {
        font-size: 1.8rem;
    }

    .nav-links {
        display: flex;
        font-size: 2rem;
        display: none;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .navbar {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        font-size: 2.5rem;
        position: relative;
    }

    .search-motif {
        display: flex;
        flex-flow: column-reverse wrap;
    }

    .fa-bars {
        display: block;
        width: 40px;
        right: 0;
    }

    .show-nav-links {
        display: flex;
    }

    main #bloc {
        width: 100%;
    }
    form {
        font-size: 1.8rem;
    }
    input[type=text] {
        width: 25%;
    }
    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    .new-form form {
        display: flex;
        flex-flow: column wrap;
    }

    .new-form form div {
        display: flex;
        flex-flow: column wrap;
    }

    .new-form form input {
        width: 100%;
    }

    #annonce_pet_genre {
        display: inline-block;
    }

    #annonce_pet_genre input {
        width: auto;
    }

    .new-form input[type=text], .new-form textarea, .new-form select {
        width: 100%;
        line-height: 40px;
    }

    .registerForm form {
        display: flex;
        flex-flow: column wrap;
    }

    .registerForm form input {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .registerForm form button {
        align-self: center;
        margin: 20px 0px;
        font-size: 1.3rem;
    }

    .modif-profile form {
        display: flex;
        flex-flow: column wrap;
    }

    .modif-profile form input {
        width: 100%;
        line-height: 40px;
        padding: 0;
        margin: 0;
    }

    .modif-profile form button {
        align-self: center;
        margin: 20px 0px;
        font-size: 1.3rem;
    }

    #grid {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
    }

    .carte {
        height: 50%;
        width: 80%;
    }

    .fa-caret-right, .fa-caret-left {
        position: absolute;
        font-size: 3.5rem;
    }
    .fa-heart {
        font-size: 3rem;
    }

    .motif-annonce {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 35px;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-size: 50px;
    }

    .local-annonce {
        position: absolute;
        text-align: center;
        left: 10%;
        width: 80%;
        bottom: 20px;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-size: 30px;
    }

    #filterIcon {
        display: inline;
    }

    #filterForm {
        display: none;
    }

    .members {
        columns: 3;
    }
}

@media(max-width: 550px) {
    .members {
        columns: 2;
    }
}