body {
    margin: 0;
    padding: 0;
    background-color: #D0D0D0;
}

#header {
    display: flex;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100vw;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

nav p a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
}

main #bloc {
    margin-left: 30px;
}

#sidebar {
    background-color: #FFAB5E;
    width: 15%;
    height: 100vh;
}

h1 {
    text-align: center;
}

.text-link {
    color: #CC6E00;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 4;
    text-align: center;
}

#categories a {
    text-decoration: none;
    color: black;
}

.categorie-pic {
    height: 85px;
    width: 90px;
}